.Cart {
  margin-top: 145px;
  padding: 0 5%;
  min-height: calc(100vh - 150px);
  background-color: #faf9f9;

  h2 {
    padding: 20px 0;
  }

  .cartDetails {
    background-color: white;
    border-radius: 10px;
    display: flex;
    padding: 50px;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    svg {
      color: #ccc;
      font-size: 100px;
    }

    p {
      font-size: 24px;
      margin-top: 20px;
      color: #ccc;
      text-align: center;
    }

    button {
      border: none;
      outline: none;
      background: #2dd06e;
      color: white;
      border-radius: 10px;
      width: 300px;
      padding: 15px 0;
      margin-top: 20px;
    }
  }

  .cartProducts {
    display: flex;

    .products {
      width: 70%;

      img {
        width: 60px;
        height: 60px;
      }

      .product {
        margin-top: 10px;
        margin-bottom: 30px;
        background-color: white;
        padding: 10px;

        .productDetails {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 10px;

          & > div {
            display: flex;
            gap: 10px;
          }
          .removeIcon {
              fill: red !important;
          }

          .counter {
            flex-direction: row;
            align-items: center;

            button {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              border: none;
            }
          }
        }

       
      }
    }

    .total {
      width: 30%;

      .content{
        padding: 20px;
        padding-left: 30px;
      }

      .content > p {
        display: flex;
        gap: 10px;
        margin: 10px 0;
      }

      .content > p:last-child{
        border-top: 2px solid #ccc;
        padding-top: 10px;
      }
    }
  }
}


@media (max-width: 768px) {
  .Cart {
    margin-top: 100px;
  }
  .cartProducts {
    display: flex;
    flex-direction: column;

    .products {
      width: 100% !important;
    }
    .total {
      width: 100% !important;
    }
  }

  .productDetails {
    display: flex;
    flex-direction: column;

    .productDetails2 {
      width: 100%;
    }
  }
}