.profileContent {
  flex-direction: column;
  width: 75%;
  margin-top: 20px;
  padding-left: 40px;

  h2{
    padding-bottom: 20px;
  }

  .inputs {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
    
    .boxes {
      position: relative;
      width: 40%;
      input {
        height: 45px;
        width: 100%;
        border: 1px solid #e4e4e4;
        border-radius: 10px;
        background-color: white;
        padding-left: 15px;
      }
      svg{
          position: absolute;
          right: 15px;
          top: 15px;
        }
        .btn {
          margin-bottom: 15px;
          width: 100%;
          border: none;
          background-color: #2DD06E;
          color: white;
          height: 45px;
          border-radius: 10px;
          }
    }
  }
  
  
    
}

@media (max-width: 768px) {
  .profileContent {
      .boxes {
        width: 100% !important;
    }
  }
}